.products-container {
  margin: 0px 50px;

  .title {
    padding-bottom: 0.7rem;
    border-bottom: 1px solid lightgray;
  }

  .filters-container {
    display: flex;
    justify-content: space-between;

    .search-wrapper {
      display: flex;
      align-items: center;
      gap: 0.3rem;
      border: 1px solid gray;
      border-radius: 0.3rem;
      padding: 0.3rem;

      .icon {
        color: gray;
      }

      input {
        border: none;
        background: transparent;

        &:focus {
          outline: none;
        }
      }
    }

    .filters-wrapper {
      display: flex;
      align-items: flex-start;
      gap: 10px;
    }

    .sort-wrapper {
      display: flex;
      align-items: flex-start;
      gap: 10px;
    }
  }

  .product-list-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    margin: 50px 0px;

    .title {
      font-size: 24px;
      font-weight: bold;
    }
  }
}
