.products-container {
  margin: 0px 50px;

  .title {
    padding-bottom: 0.7rem;
    border-bottom: 1px solid lightgray;
  }

  .filters-container {
    display: flex;
    justify-content: space-between;
  }

  .product-list-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    margin: 50px 0px;

    .title {
      font-size: 24px;
      font-weight: bold;
    }
  }
}
