.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3%;
  margin-top: auto;
  height: 60px;
  background-color: $gray;
  color: $white;

  .footer-left {
    width: 150px;
    p {
      margin: 0;
    }
  }

  .footer-center {
    p {
      margin: 0;
      font-size: 120%;
      font-weight: bold;
      letter-spacing: 1px;
      text-decoration: underline;
    }
  }

  .footer-right {
    display: flex;
    justify-content: space-around;
    width: 150px;

    .icon {
      color: $white;
      transition: 0.5s;

      &:hover {
        color: $green;
      }
    }
  }
}
