.nav-bar-container {
  display: flex;
  justify-content: space-around;
  padding: 1.2rem;
  font-size: 16pt;
  @include box-shadow;
  position: sticky;
  top: 0;
  background-color: $white;

  .left-icons {
    display: flex;
    justify-content: space-around;
    width: 300px;
  }

  .right-icons {
    display: flex;
    justify-content: space-around;
    width: 200px;
  }

  .left-icons,
  .right-icons {
    a {
      color: $gray;

      .icon {
        transition: 0.5s;
      }
      &:hover {
        color: $green;
      }

      &.active {
        color: $black;
      }
    }
  }
}
